services:
  mongo:
    image: mongodb/mongodb-community-server:latest
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_node
    ports: 
      - "5672:5672"
      - "15672:15672"

  user-service:
    build:
      context: ./userService
    image: user-service
    container_name: user-service
    ports:
      - "3000:3000"
    depends_on:
      - mongo
      - rabbitmq

  task-service:
    build:
      context: ./taskService
    image: task-service
    container_name: task-service
    ports:
      - "3002:3002"
    depends_on:
      - mongo
      - rabbitmq

  notification-service:
    build:
      context: ./notificationService
    image: notification-service
    container_name: notification-service
    ports:
      - "3003:3003"
    depends_on:
      - rabbitmq
      - mongo

volumes:
  mongo_data:
